video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.hero-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.hero-container > h1 {
    color: #fff;
    font-size: 40px;
  }
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .button1 {
    margin: 6px;
    background-color: transparent;
    color: white;
    padding: 10px;
  }

    
  .hero-btns .button2 {
    margin: 6px;
    background-color: white;
    color: black;
    padding: 10px;
  }
  @media screen and (max-width: 960px) {

    .hero-btns {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
      }

  }